@*
БЕК
addons
battleye
bec/Log
bec/Bec4.exe
Start_BEC.bat
bliss
Config
docs
dta
keys
logs
steamapps
mpmissions/dayzOffline.chernarusplus/storage_1
mpmissions/dayzOffline.enoch
Server_kill.cmd
DayZServer_x64.exe
bat.txt
Start.bat
start4server.bat
StartServer.bat
*.dll
*.RPT
*.log
*.ADM
*.mdmp
